.vscode
__pycache__/
.ipynb_checkpoints
ֿeggs/
.eggs/
*.egg-info/
*.egg


**/._.DS_Store
._.DS_Store
.DS_Store
**/.DS_Store

outputs/**
**/train_logs/**

**.pyc
*.pkl
*.ckpt
*.tar
*.pickle
*.npy
*.npz
*.pt
*.ptl
*.obj
*.log
*.ini
*.zip
*.mp4

!**a_pose.npy